@media (max-width:1255px) {

  .card-counter{
    width: 300px;
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 10px;
    transition: .3s linear all;
  }

  .selling-dashbord .left{
      margin-right: unset;
      margin-bottom: 22px;
    }
  .selling-title{
      text-align: center;
      margin-top: 10px;
  }
  .user-dashbord{
      overflow-x: scroll;
      padding: 0 20px;
  }
  .item-dashbord{
      overflow-x: scroll;
      padding: 0 20px;
  }
  .account-dashbord{
      overflow-x: scroll;
      padding: 0 20px;
  }
}