/* body {
    height: 100vh;
} */

.navbar {
  /* background-color: #0c0f11; */
  z-index: 4;
  background: -webkit-linear-gradient(to right, #383838, #333333);
  background: linear-gradient(to right, #222222, #3c3c3d);
}

footer {
  background: #212121;
  height: 3.5rem;
  position: static;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
  color: white;
}

.paragrahp {
  font-size: 50px;
}

.card-body {
  max-height: 400px;
}

.table {
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgb(255, 254, 233),
    rgb(255, 253, 204)
  );
  color: rgb(0, 0, 0);
  width: 100%;
  font-weight: bold;
}

#scrol-table {
  overflow-y: scroll;
  height: 400px;
  display: block;
}

.table th {
  background: linear-gradient(
    to right bottom,
    rgb(60, 60, 60),
    rgb(48, 48, 48)
  );
  color: rgb(255, 255, 255);
}

.cent {
  margin-top: 31px;
}

.icon-cog {
  color: #fff;
}

body {
  background: radial-gradient(#ffffff, #dad7d7);
  overflow-x: hidden;
}

.btn {
  padding: 0.55rem 1.5rem 0.45rem;
}

.style-form {
  margin-top: 20px;
  padding: 20px;
}

.style-form .form-items {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  
  margin-bottom: 124px;
  opacity: 0.8;
  padding: 40px;
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.style-form .form-items form input {
  color: black;
  font-weight: bold;
}

.style-form h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.style-form h3.form-title {
  margin-bottom: 30px;
}

.style-form p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

.style-form input[type="text"],
.style-form input[type="password"],
.style-form input[type="email"],
.style-form select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}

.btn-primary {
  background-color: #6c757d;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #495056;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.style-form textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.style-form textarea:hover,
.style-form textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #ffffff;
}

.test:focus {
  color: rgb(255, 255, 255);
}

#userInputContainer {
  margin-top: 50px;
  margin-bottom: 242px;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  opacity: 0.8;
  padding: 40px;
  display: inline-block;
  border-radius: 10px;
}

#userInputContainer-img {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  opacity: 0.8;
  padding: 40px;
  display: inline-block;
  border-radius: 10px;
}

#dataTableContainer {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  opacity: 0.8;
  padding: 40px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#dataTableContainer .table {
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  color: rgb(255, 255, 255);
  width: 100%;
  font-weight: bold;
}

#dataTableContainer .table th {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#dataTableContainer .table tr:hover {
  background-color: rgb(109, 123, 255);
  color: rgb(255, 255, 255);
}

#dataTableContainer .table #trash {
  color: rgb(255, 17, 17);
}

#dataTableContainer .table #edit {
  color: rgb(221, 165, 60);
}

#edit {
  color: rgb(221, 165, 60);
}

#trash {
  color: rgb(255, 38, 38);
}

#dataTableContainer #total-sales {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.tabel-shadow {
  box-shadow: -1px 6px 11px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 11px 1px rgba(0, 0, 0, 0.75);
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 80px;
  bottom: 0;
  height: 120vh;
  left: 0;
  width: 250px;
}

.main-menu > ul {
  margin: 33px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}

.link-div {
  text-decoration: none;
}

.icons i {
  margin-left: 20px;
}

.profile_box {
  margin: 50px 0px;
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  opacity: 0.8;
  box-shadow: 5px 5px 10px #d9d9d6, -5px -5px 10px #ffffff;
}

.profile_box .left {
  width: 60%;
  height: 100%;
}

.left .info {
  height: 100%;
  width: 73%;
  margin: auto;
}
.profile_box .right {
  width: 40%;
}
.profile_box .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left .info .height-card {
  margin: 50px 0px;
}

.left .info .height-card p {
  font-family: cursive;
  font-size: 20px;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
}

.card-counter {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 10px;
  transition: 0.3s linear all;
}

.card-counter a {
  text-decoration: none;
  color: white;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

.card-counter.users {
  width: 200px;
  height: 130px;
  position: relative;
  background: linear-gradient(
    to right bottom,
    rgb(0, 132, 255),
    rgb(115, 115, 115)
  );
  font-weight: bold;
}

.card-counter.items {
  width: 200px;
  height: 130px;
  position: relative;
  background-color: #ef5350;
  background: linear-gradient(
    to right bottom,
    rgb(255, 46, 46),
    rgb(115, 115, 115)
  );
  font-weight: bold;
}

.card-counter.accounts {
  width: 200px;
  height: 130px;
  position: relative;
  background: linear-gradient(
    to right bottom,
    rgb(67, 255, 46),
    rgb(115, 115, 115)
  );
  font-weight: bold;
}

.card-counter.total {
  width: 200px;
  height: 130px;
  position: relative;
  background: linear-gradient(
    to right bottom,
    rgb(255, 185, 46),
    rgb(115, 115, 115)
  );
  color: #fff;
  font-weight: bold;
}

.card-counter .inf {
  max-width: 100%;
  max-height: 100%;
}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}

#sidebarMenu {
  z-index: 1;
  background-color: #212121;
}

.position-sticky a {
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  color: rgb(74, 161, 255) !important;
  text-decoration: none !important;
  background-color: none !important;
}

.table-style {
  display: flex;
  flex-wrap: wrap;
}

.dashbord {
  display: flex;
  flex-wrap: wrap;
}

.selling-dashbord {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.selling-dashbord .left {
  margin-right: 22px;
}

.selling-dashbord .right {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  opacity: 0.8;
  padding: 40px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.selling-dashbord .right .table {
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  color: rgb(255, 255, 255);
  width: 100%;
  font-weight: bold;
}

.selling-dashbord .right .table th {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.selling-dashbord .right .table tr:hover {
  background-color: rgb(109, 123, 255);
  color: rgb(255, 255, 255);
}

.selling-dashbord .right .table #trash {
  color: rgb(255, 17, 17);
}

.selling-dashbord .right .table #edit {
  color: rgb(221, 165, 60);
}

.account-dashbord {
  margin-bottom: 40px;
}

.user-dashbord{
  margin-bottom: 175px;
}

.item-dashbord{
  margin-bottom: 150px;
}


.style-form .form-items-edit {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgb(22, 22, 22),
    rgb(46, 40, 40)
  );
  
  margin-bottom: 124px;
  opacity: 0.8;
  padding: 40px;
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.style-form .form-items-edit form input {
  color: black;
  font-weight: bold;
}